include manage.pug

head
	title= appName
	link(rel='stylesheet' href='/public/css/manage/manage.css')
	script(defer src='/public/js/manage/manage.js')

.container.server-info
	.server-avatar
		img(alt='Avatar', name='avatar-img', src=`${icon ? `https://cdn.discordapp.com/icons/${id}/${icon}.webp?size=128` : "/public/img/placeholder.png"}` style=`border-radius: 50%; border: 3px solid #3d566e;`)
	.server-details
		h3.is-white.user-name.title.is-4(href='/')=name

main
	.div-container
		.div
			.div-title
				p.is-white SERVER INFO
			.div-content.grid-2
				.text
					p Members

				

include ../footer.pug