include manage.pug

head
	title=config.appName
	link(rel='stylesheet' href='/public/css/manage/manage.css')
	script(defer src='/public/js/manage/manage.js')

.container.server-info
	.server-avatar
		img(alt='Avatar', name='avatar-img', src=`${userServer.icon ? `https://cdn.discordapp.com/icons/${userServer.id}/${userServer.icon}.webp?size=128` : "/public/img/placeholder.png"}` style=`border-radius: 50%; border: 3px solid #3d566e;`)
	.server-details
		h3.is-white.user-name.title.is-2(href='/')=server.name

main
	.columns.is-multiline
		.column.is-full
			.box.match-background
				h3.title.is-3.is-white Server Info
				.columns.is-multiline
					.column.is-one-third
						p(style='color: gray;') Members:
							span.is-white=` ${server.members.length}`
					.column.is-one-third
						p(style='color: gray;') Members:
							span.is-white=` ${server.channels.length}`
					.column.is-one-third
						p(style='color: gray;') Roles:
							span.is-white=` ${server.roles.length}`
					.column.is-one-third
						p(style='color: gray;') Emojis:
							span.is-white=` ${server.emojis.length}`
					.column.is-one-third
						p(style='color: gray;') Bans:
							span.is-white=` ${server.bans.length}`


				//- .div-container
				//- 	.div
				//- 		.div-title
				//- 			p.is-white SERVER INFO
				//- 		.div-content.grid-2
				//- 			.text
				//- 				p Members



include ../footer.pug