doctype html

head 

	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js")
	script(src='https://kit.fontawesome.com/964c6118cb.js' crossorigin='anonymous')
	script(src='https://cdn.socket.io/4.4.1/socket.io.min.js' integrity='sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H' crossorigin='anonymous')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js' integrity='sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==' crossorigin='anonymous' referrerpolicy='no-referrer')
	script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
	script(defer src='https://unpkg.com/@popperjs/core@2')
	script(defer src='https://unpkg.com/tippy.js@6')

	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
	link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
	link(rel='stylesheet' href='https://unpkg.com/tippy.js@6/animations/scale.css')
	link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' integrity='sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==' crossorigin='anonymous' referrerpolicy='no-referrer')

	script(defer src='/public/js/all.js')
	link(rel='stylesheet' href='/public/css/all.css')

body 
	// Back To Top Start
	a#backtotop(data-tippy-content='Back To Top.')
		i.fa-solid.fa-angle-up.has-text-white.fa-2xl.mt-5
	// Back To Top End
	// Navbar Start

	if showminnavbar
		nav.navbar.is-fixed-top(role='navigation' aria-label='main navigation')
			#navbarBasicExample.navbar-menu
				.navbar-end
					a.navbar-item.is-tab(href=discordInvite target='_blank')
						i.fa-brands.fa-discord
					//- a.navbar-item.is-tab(href=githubLink target='_blank')
					//- 	i.fa-brands.fa-github
					.navbar-item
						if !discordId
							.buttons
								button.login.button.is-blurple
									strong
										i.fa-solid.fa-right-to-bracket.mr-2
										|                 Login
						else
							.buttons
								button.dashboard.button.no-background.is-rounded
									span.icon.is-small
										img.is-round(src=`${avatar ? `https://cdn.discordapp.com/avatars/${discordId}/${avatar}.webp?size=128` : "/public/img/placeholder.png"}`)
									span.nav-username=`                          ${username}`
								button.logout.button.is-danger.is-outlined
									i.fas.fa-sign-out-alt
	else
		nav.navbar.is-fixed-top(role='navigation' aria-label='main navigation')
			.navbar-brand.mt-2.mb-2
				a.navbar-item(href='/')
					strong= appName
				a.navbar-burger.has-text-white(role='button' data-target='navMenu' aria-label='menu' aria-expanded='false')
					span(aria-hidden='true')
					span(aria-hidden='true')
					span(aria-hidden='true')
			#navbarBasicExample.navbar-menu
				.navbar-start
					a.navbar-item.is-tab(href='/')
						| Home
					a.navbar-item.is-tab(href=discordInvite)
						| Support
					a.navbar-item.is-tab(href='/#features')
						| Features
					a.navbar-item.is-tab(href='/#stats')
						| Stats
				.navbar-end
					a.navbar-item.is-tab(href=discordInvite target='_blank')
						i.fa-brands.fa-discord
					//- a.navbar-item.is-tab(href=githubLink target='_blank')
					//- 	i.fa-brands.fa-github
					.navbar-item
						if !discordId
							.buttons
								button.login.button.is-blurple
									strong
										i.fa-solid.fa-right-to-bracket.mr-2
										|                 Login
						else
							.buttons
								button.dashboard.button.no-background.is-rounded
									span.icon.is-small
										img.is-round(src=`${avatar ? `https://cdn.discordapp.com/avatars/${discordId}/${avatar}.webp?size=128` : "/public/img/placeholder.png"}`)
									span.nav-username=`                          ${username}`
								button.logout.button.is-danger.is-outlined
									i.fas.fa-sign-out-alt