include app.pug

head
	title=config.appName
	link(rel='stylesheet' href='/public/css/dashboard.css')
	script(defer src='/public/js/dashboard.js')

.container.user
	.user-avatar(href='/')
		.lazyload-wrapper
			img(alt='Avatar', name='avatar-img', src=`${user.avatar ? `https://cdn.discordapp.com/avatars/${user.discordId}/${user.avatar}.webp?size=128` : "/public/img/placeholder.png"}`)
	.user-details
		h3.user-name.title.is-4(href='/')=user.username
			span.discriminator.has-text-primary= `#${user.tag}`
		h5.subtitle.has-text-grey.is-5 0 premium servers
.container.servers
	.top-text
		h1.server-text Select server to manage
	.server-grid
		each guild in user.guilds
			.server
				.server-info 
					p= guild.name
				.server-icon
					img.guild-icon(alt='' src=`${guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp?size=128` : "/public/img/placeholder.png"}` style=`border-radius: 50%; ${guild.dbServer ? `border: 3px solid #00FF00;` : `border: 3px solid #3d566e;`}`)
				.server-button 
					if guild.dbServer
						button.redirect.button.is-dark(id=guild.id) Manage
					else
						button.redirect.button.is-dark(id=guild.id) Invite

include footer.pug